language: cpp
sudo: false

os: linux

compiler: clang

script:
- ${CXX} -fprofile-instr-generate -fcoverage-mapping -o hello
    hello.cxx goodbye.cxx
- export LLVM_PROFILE_FILE=/tmp/llvm_profile/profile-%p.profraw

- ./hello
- ./hello -g world

- llvm-profdata merge -sparse /tmp/llvm_profile/profile-*.profraw
    -o coverage.profdata
- llvm-cov show ./hello -instr-profile=coverage.profdata > app.coverage.txt
- bash <(curl -s https://codecov.io/bash)
